{% extends "Personas/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <div class="container mt-5 mb-5">
        <table class="table table-dark table-hover">
            <thead>
                <th>
                    Torneo
                </th>
                <th>
                    Sitio
                </th>
                <th>
                    Año
                </th>
                <th>
                    N° de partidas
                </th>
                <th>
                    Jugador
                </th>
                <th>
                    Máquina
                </th>
                <th>
                    Resultado
                </th>
                <th>
                    Ganador
                </th>
            </thead>
            <tbody>
                {% for torneo in torneos %}
                    <tr>
                        <td>
                            {{torneo.nombre}}
                        </td>
                        <td>
                            {{torneo.sitio}}
                        </td>
                        <td>
                            {{torneo.year}}
                        </td>
                        <td>
                            {{torneo.partidaN}}
                        </td>
                        <td>
                            {{torneo.humano}}
                        </td>
                        <td>
                            {{torneo.maquina}}
                        </td>
                        <td>
                            {{torneo.partidaR}}
                        </td>
                        <td>
                            {{torneo.ganador}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>

    <div class="container mt-4 d-flex flex-row justify-content-evenly  align-items-start buscaYcarga">
       
        <div class="d-flex flex-column align-items-center justify-content-center formCargaJugadores">
            {% if formularioTorneo.errors %}
            <p style="color:red">Revisar, hay errores en los datos</p>
            {% endif%}
        
            <form action="" method="POST" class="">{% csrf_token %}
                <h3 class="mb-1">Formulario para la carga de torneos</h3>
                <hr class="mb-4">
                    <table class="">
                        <div class="formulario_inputs">
                            {{ formularioTorneo.as_table }}
                        </div>
                    </table>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="mt-3 btnCargar">Cargar</button>
                    </div>
            </form>
        </div>
        
        <div class="d-flex flex-column formBuscaJugadores p-4">
            <form action="{% url 'buscarTorneoY' %}" method="GET" class="d-flex flex-row-reverse p-3">
                <div class="d-flex flex-row form-floating">
                    <input type="text" name="year" id="floatingInput" class="form-control"  placeholder="Buscar por año">
                    <label for="floatingInput" style="color:darkgray">Buscar por año</label>
                    <button type="submit" class="btn btn-outline-primary btnBuscar">Buscar</button>
                </div>
            </form>
 
            <form action="{% url 'buscarTorneoN' %}" method="GET" class="d-flex flex-row-reverse p-3">
                <div class="d-flex flex-row form-floating">
                    <input type="text" name="nombre" id="floatingInput" class="form-control" placeholder="Buscar por torneo">
                    <label for="floatingInput" style="color:darkgray">Buscar por torneo</label>
                    <button type="submit" class="btn btn-outline-primary btnBuscar">Buscar</button>
                </div>
            </form>
    
            <form action="{% url 'buscarTorneoJ' %}" method="GET" class="d-flex flex-row-reverse p-3">
                <div class="d-flex flex-row form-floating">
                    <input type="text" name="humano" id="floatingInput" class="form-control" placeholder="Buscar por jugador">
                    <label for="floatingInput" style="color:darkgray">Buscar por jugador</label>
                    <button type="submit" class="btn btn-outline-primary btnBuscar">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    
    
  
{% endblock %}