.header {
    background-color: darkslategray;
}

.btn-admin {
    background-color: black;
    border: none;
    
}

.btn-admin a:visited{
    text-decoration: none;
    color: white;
}

.btn-admin a{
    text-decoration: none;
    color: white;
}

.btn-admin a:hover{
    color:black;
}


body {
    color: white;
}